


.nav-Link{
    text-decoration: none;
}


.navbar{

    height:72px;

    background-color:#ffffff;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding-left:48px;

    padding-right:48px;

    box-shadow:0 1px 4px rgba(0,0,0,0.05);

}

.logo{

    font-size:28px;

    font-weight:700;

    color:#5b5ce2;

    font-family:"Roboto";

}

.nav-buttons{

    display:flex;

    align-items:center;

    gap:16px;

}

.free-btn{

    width:120px;

    height:42px;

    border:none;

    border-radius:12px;

    background:#5b5ce2;

    color:white;

    font-weight:600;

    cursor:pointer;

    transition:.3s;

}

.free-btn:hover{

    background:#4748d8;

}

.logout-btn{

    width:90px;

    height:42px;

    border:1px solid #ef4444;

    border-radius:12px;

    background:white;

    color:#ef4444;

    font-weight:600;

    cursor:pointer;

    transition:.3s;

}

.logout-btn:hover{

    background:#fef2f2;

}

